.page {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}