@import url(./__avatar/profile__avatar.css);
@import url(./__avatar-edit/profile__avatar-edit.css);
@import url(./__avatar-edit-button/profile__avatar-edit-button.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__job/profile__job.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__add-button/profile__add-button.css);

.profile {
    display: flex;
    align-items: center;
    padding: 40px 200px 51px;
}

@media screen and (max-width: 1279px) {
    .profile {
        flex-direction: column;
        padding: 42px 19px 36px;
    }
}