.popup__submit-button_inactive {
    opacity: 0.2;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}

.popup__submit-button_inactive:hover {
    opacity: 0.2;
    cursor: default;
}