.profile__add-button {
    width: 150px;
    min-width: 150px;
    height: 50px;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: 22px 22px;
    border: 2px solid white;
    border-radius: 2px;
    margin-left: auto;
}

.profile__add-button:focus {
    outline: 0;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        width: 282px;
        margin: 0 auto;
        background-size: 16px 16px;
    }
}