.profile__info {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 16px 18px;
    grid-template-areas: 
    "name edit-button"
    "job -";
}

@media screen and (max-width: 1023px) {
    .profile__info {
        margin-left: 0;
        margin-top: 26px;
        margin-bottom: 36px;
        position: relative;
        grid-template-columns: 1fr;
        gap: 14px;
        grid-template-areas:
        "name"
        "job";
    }
}