@import url(./__copyright/footer__copyright.css);

.footer {
    padding: 67px 200px 60px;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 48px 19px 36px;
    }
}