.elements__list {
    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    gap: 20px 17px;
    justify-content: center;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .elements__list{
        grid-template-columns: repeat(2, 282px);
    }
}

@media screen and (max-width: 618px) {
    .elements__list {
        grid-template-columns: repeat(1, 282px);
    }
}