.header {
    padding: 45px 200px 0;
    width: 100%;
    box-sizing: border-box;
}

.header::after {
    display: block;
    content: "";
    border-bottom: 1px solid #545454;
    opacity: .7;
    padding-top: 40px;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 0 28.6px 27px;
        border-bottom: 1px solid rgba(84, 84, 84, .7);
    }

    .header::after {
        display: none;
    }
}