.profile__job {
    grid-area: job;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .profile__job {
        text-align: center;
        font-size: 14px;
        line-height: 14px;
    }
}